<div class="wrapper" fxFlexFill fxLayout="column">
  <div class="section">
    <div class="content" fxFlexFill fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="20px">
      <h1 class="title-404">{{ 'page.404.title' | translate }}</h1>
      <h2>{{ 'page.404.sub_title' | translate }}</h2>
      <p>{{ 'page.404.message' | translate }}<br />example@agent-portal.com</p>
      <button mat-raised-button color="primary" routerLink="/">{{ 'page.404.btn.back' | translate }}</button>
    </div>
  </div>
</div>