<div class="wrapper" fxFlexFill fxLayout="column">
  <app-sub-page-header page="page.forgot_password.name" currentPage="page.forgot_password.sub_name">
  </app-sub-page-header>
  <div class="section">
    <h1 class="section-title" ngClass.lt-sm="section-title-responsive">{{ 'page.forgot_password.section_title.retrieve_password' | translate }}</h1>
    <div fxFlexFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div fxFlex>
        <input class="button-style1 input-sign-in" [(ngModel)]="email" placeholder="{{ 'common.text.email_address' | translate }}">
      </div>
      <div>
        <button (click)="getPasswordResetEmail()" mat-stroked-button>{{ 'common.text.submit' | translate }}</button>
      </div>
    </div>
    <br /><br />
  </div>
</div>