<div class="wrapper">
  <div class="section section-loan-list">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div fxFlexFill fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="0px">
          <div fxFlexFill fxLayoutAlign="center center" fxLayout="row" fxLayout.lt-md="column"
            fxLayoutAlign.lt-md="start" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field color="accent">
              <input matInput placeholder="Search Keyword" [(ngModel)]="search" (keyup.enter)="searchData()">
            </mat-form-field>

            <mat-form-field color="accent">
              <mat-label>By</mat-label>
              <mat-select [(ngModel)]="searchBy">
                <mat-option value="id">Loan ID</mat-option>
                <mat-option value="am">Amount More Than</mat-option>
                <mat-option value="al">Amount Less Than</mat-option>
                <mat-option value="tm">Term More Than</mat-option>
                <mat-option value="tl">Term Less Than</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field color="accent" fxHide.gt-xs>
              <mat-label>Loan Type</mat-label>
              <mat-select multiple [(ngModel)]="selectedType" #loanTypeSelect (openedChange)="openedChangeTypeHandling($event)">
                <mat-option [value]="loanType" *ngFor="let loanType of loanType$">{{ loanType.translation }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <span class="space-filler"></span>
            <div>
              <button mat-flat-button (click)="searchData()" color="accent">
                <mat-icon>search</mat-icon><span>Search</span>
              </button>
            </div>
          </div>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row fxHide.lt-sm fxLayout="row wrap" fxLayoutGap="15px">
        <span>Type: </span>
        <mat-checkbox *ngFor="let loanType of loanType$" [checked]="selectedType.indexOf(loanType) >= 0"
          (change)="toggleType(loanType, loanTypeSelect)">
          {{ loanType.translation }}
        </mat-checkbox>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- <div class="text-center" *ngIf="!isLoading && (!data$ || data$.length <= 0)">No Results<br /><br /></div> -->
    <div class="application-card" fxLayoutAlign="center stretch" fxLayout="column" fxLayoutGap="15px">
      <ng-container *ngFor="let data of data$">
        <mat-card>
          <mat-card-header style="border-bottom: 1px solid #ECECEC;">
            <img mat-card-avatar [src]="data.gender == 'M' ?
            'https://previews.123rf.com/images/solargaria/solargaria1709/solargaria170900007/85362512-user-icon-male-avatar-in-business-suit-businessman-flat-icon-man-in-business-suit-avatar-of-business.jpg'
            : 'https://icon-library.net/images/avatar-icon-png/avatar-icon-png-10.jpg'" />
            <mat-card-title>#{{ data.id }} - {{ data.type }}</mat-card-title>
            <mat-card-subtitle>{{ data.gender == 'M' ? 'Mr.' : 'Ms.' }} {{ getFirstWord(data.name) }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <br />
            <div fxLayoutAlign="center stretch" fxLayout="column" fxLayoutGap="5px">
              <div><strong>Date Request : </strong><span>{{ data.dt_request }}</span></div>
              <div><strong>Amount : </strong><span>RM {{ data.amount | number:'1.2-2'}}</span></div>
              <div><strong>Period : </strong><span>{{ data.period }} Years</span></div>
              <div><strong>Annual Income : </strong><span>RM {{ data.annual_income | number:'1.2-2' }}</span></div>
              <div><strong>Business : </strong><span>{{ data.business_type }}</span></div>
              <div><strong>Company : </strong><span>{{ data.company_name }}</span></div>
              <div><strong>Occupation : </strong><span>{{ data.occupation }}</span></div>
              <div><strong>Unclear Loan : </strong><span>{{ data.unclear_loan ? 'Yes' : 'No' }}</span></div>
              <div><strong>Supporting Documents :
                </strong><span>{{ (data.support_docs && data.support_docs.length > 0) ? 'Yes' : 'No' }}</span></div>
            </div>
          </mat-card-content>
          <mat-card-actions style="border-top: 1px solid #ECECEC;">
            <!-- <button mat-button color="primary" (click)="viewDetails()">VIEW</button> -->
            <button mat-button color="accent">CONTACT</button>
            <button mat-button color="primary" *ngIf="!data.isApplied">APPLY</button>
            <button mat-button color="warn" *ngIf="data.isApplied">CANCEL APPLY</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
      <div class="text-center" style="padding: 20px 0;" *ngIf="isLoading || (!data$ || data$.length <= 0)">
        <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
        <div *ngIf="!isLoading && (!data$ || data$.length <= 0)">No Results</div>
      </div>
      <button mat-raised-button color="accent" (click)="loadMore()"
        *ngIf="!isLoading && (data$ && data$.length > 0)">Load
        More</button>
    </div>
  </div>
</div>